.section-card {
    display: flex;
    flex-wrap: wrap;
    max-width: 1600px;
    margin-bottom: 50px;
}

.card {
    margin: 20px 0 0 45px;
    padding: 10px 10px;
    width: 340px;
    height: 550px;
    box-shadow: 2px 2px 2px 2px grey;
}

.card-header,
.tovar,
.card-content,
.age-details-rating,
.age,
.details,
.rating,
.name {
    display: flex;
    justify-content: space-between;
}

.card-header,
.tovar {
    align-items: center;
    height: 40px;
}

.card-header img {
    width: 30px;
    height: 30px;
    padding: 5px;
    cursor: pointer;
    border-radius: 100%;
    background: rgb(128, 128, 128, 0.2);
}

.card-header img:hover {
    background: rgb(128, 128, 128, 0.8);
}

.informations {
    height: 24px;
    font-size: 14px;
    text-align: center;
    background: #FFD700;
}

.tovars {
    width: 300px;
    height: 300px;
    cursor: pointer;
    margin: 10px auto 0;
}

.card-content {
    flex-direction: column;
    
}

.age-details-rating  {
    width: 160px;
    margin: 15px 0;
}

.age,
.details,
.rating {
    align-items: center;
    gap: 5px;
}

.age img,
.details img,
.rating img {
    width: 18px;
    height: 18px;
}

.name {
    font-size: 16px;
    margin-bottom: 15px;
}

.price {
    height: 30px;
    align-items: center;
    margin-bottom: 10px;
}

.name a {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.name a:hover{
    text-decoration: underline;
}

.add-basket { 
    width: 200px;
    height: 44px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    outline: none;
    background: rgb(244, 125, 32);
}

.add-basket:hover {
    background: rgb(244, 125, 32, 0.6);
}

.add {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    gap: 5px;
}