header,
.header-container, 
.left,
.right,
.icons,
.sign-in-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    margin: 0 auto;
    background: #FFD700;
}

.header-container {
    margin: 0 auto;
    width: 1600px;
    height: 70px;
    color: #fff;
}

.left {
    width: 200px;
    margin: 0;
}

.logo,
.burgerMenu {
    width: 50px;
    cursor: pointer;
    align-items: center;
}

.right {
    width: 600px;
}

.search {
    display: flex;
    align-items: center;
    width: 350px;
    height: 40px;
    padding: 0 10px;
    background: #fff;
    border-radius: 35px;
}

.search img {
    width: 14px;
    height: 14px;
}

.search input {
    width: 300px;
    height: 35px;
    padding-left: 10px;
    margin-left: 10px;
    border: none;
    outline: none;
}

.icons {
    justify-content: space-around;
    width: 200px;
}

.icon-link {
    position: relative;
    margin: 0 10px;
    text-decoration: none;
    color: inherit;
}

.favorite-counter,
.basket-counter {
    position: absolute;
    top: -8px;
    right: -8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    font-size: 12px;
    background: red;
    color: white;
    border-radius: 50%;
}

.basket-counter {
    background: #808080;
}

.sign-in-btn {
    justify-content: space-around;
    text-align: center;
    width: 80px;
    height: 50px;
    cursor: pointer;
    border: 1px solid #000;
    background: #fff;
}

.sign-in-btn img {
    width: 25px;
}

.sign-in-btn p {
    font-size: 14px;
}