.basket-page-content,
.content,
.total-price,
.result {
    display: flex;
} 

.basket-page-content {
    max-width: 1600px;
    justify-content: space-between;
    margin: 0 auto 50px;
}

.content {
    flex-wrap: wrap;
}

.total-price {
    flex-direction: column;
    width: 350px;
    margin-left: 20px;
    border: 1px solid #000;
    font-size: 20px;
}

.result {
    justify-content: space-between;
}

.list {
    margin-top: 20px;
}

.list ul {
    margin-left: 30px;
}


.buy {
    margin-top: 20px;
    text-align: center;
}

.buy-button {
    padding: 12px 30px;
    font-size: 18px;
    background: #00b33c;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.buy-button:disabled {
    background: #ccc;
    cursor: not-allowed;
}

.buy-button:hover:not(:disabled) {
    background: #28a745;
}
